.vote-card.card.card--flex
    .card__title
        h1.card__title__text Votar em 
            span#vote-name
    .cpf
        label.cpf__label(for="cpf") Digite seu CPF:
        input#cpf.cpf__input(type="text", inputmode="numeric", placeholder="___.___.___-__", maxlength="14", autocomplete="off")
        span#invalid.cpf__invalid CPF inválido.
    .card__buttons
        button.button.button--outline#submit(onclick="toggleVote()") Cancelar
        if recaptchaEnabled
            button.button.g-recaptcha#vote-button(data-sitekey=recaptchaSitekey, data-id=project.id, data-callback="onSubmit", disabled) Votar
        else
            button.button#vote-button(disabled, onclick="vote()") Votar