.advice {
  background: white;
  border: 2px solid #f9b94d;
  border-radius: 12px;
  width: 22.6rem;
  max-width: 80vw;
  height: 8rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advice__title {
  color: #f9b94d;
  font-size: 20pt;
  font-weight: 600;
}

.advice__text {
  font-size: 16pt;
  font-weight: 400;
}

.cards {
  display: flex;
}

.cards--disabled {
  display: none;
}

body.vote .cards {
  display: none;
}

body:not(.vote) .vote-container {
  display: none;
}

.vote-container {
  display: flex;
  height: 35rem;
  justify-content: center;
  align-items: center;
}

/* Somente no Desktop */

@media screen and (min-width: 50rem) {
  .cards {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Somente no Mobile */
@media screen and (max-width: 50rem) {
  .cards {
    overflow-x: auto;
  }

  .card {
    margin: 1.2rem 2vw !important;
  }
}

@media screen and (max-height: 660px) {
  .cards {
    margin-top: 0;
  }

  .vote-container {
    height: unset;
  }
}
